
      <div class="col-lg-12" style="border-bottom: solid #0000AA;">
        <div class="text-center"><h2>Hacemos crecer tu negocio en la web</h2></div>
        <img src="img/Inicio1.png" width="24%" alt="" srcset="">
        <img src="img/Inicio2.png" width="24%" alt="" srcset="">
        <img src="img/Inicio3.png" width="24%" alt="" srcset="">
        <img src="img/Inicio4.png" width="24%" alt="" srcset="">
      </div>
      <div class="col-lg-3 p-5">
        <em><strong>Automatizaci&oacute;n</strong></em>
        <p class="p-3">Automatizamos tus procesos <br> 
        Reduce los tiempos <br>
        Obten resultados m&aacute;s r&aacute;pidos <br>
        Mejora tus ingresos</p>
      </div>
            <div class="col-lg-3 p-5">
        <em><strong>Aplicaciones moviles</strong></em>
        <p class="p-3">lleva tu informaci&oacute;n a todos lados <br>
        Mantente en contacto con tus clientes <br>
        Aplicaciones para android <br>
        Aplicaciones para iphone</p>
      </div>
            <div class="col-lg-3 p-5">
        <em><strong>Sistemas ERP</strong></em>
        <p class="p-3">Manten el control de tu negocio <br>
        Haz crecer tu negocio <br>
        Manten el contro de tus empleados <br>
        Pasa del papel a la nube</p>
      </div>
            <div class="col-lg-3 p-5">
            <img src="img/Inicio5.png" width="100%" alt="" srcset="">
      </div>


