          <div class="col-lg-7 p-5">
            <em class="p-2"><strong>Misi&oacute;n</strong></em>
            <p class="p-4">Somos un equipo 100% dedicado al desarrollo de software web, movil, y de escritorio <br>
            Ofrecemos nuestros serviciospara realizar tus ideas a medida de tus requerimientos <br>
            ajustandonos a tu presupuesto</p>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-6">
                    <img src="img/Nosotros1.png" style="width: 100%; height: 25vh;" alt="" srcset="">
                </div>
                <div class="col-lg-5"></div>
            </div>
            <em class="p-2"><strong>Valores</strong></em>
            <p class="p-4">Tenemos el compromiso, responsabilidad y respeto con nuestros clientes</p>
          </div>

          <div class="col-lg-4 p-3">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-6">
                    <img src="img/Nosotros2.png" style="width: 100%; height: 25vh;" alt="" srcset="">
                </div>
                <div class="col-lg-4"></div>
            </div>
              <em ><strong>Visi&oacute;n</strong></em>
              <p class="p-4">Volvenos la empresa solicitada en cada idea</p>

              <img src="img/Nosotros3.png" style="width: 100%; height: 25vh;">
          </div>
        