<div class="d-flex flex-column flex-md-row align-items-center p-3 bg-white">
  <h5 class="my-0 mr-md-auto font-weight-normal"> <a href="./"><img src="img/DAWUP.png" width="70%" alt="" srcset=""></a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 m-2 text-dark" style="text-decoration: none;" id="Home" href="./">INICIO</a>
    <a class="p-2 m-2 text-dark" style="text-decoration: none;" id="We" href="/Nosotros">NOSOTROS</a>
    <a class="p-2 m-2 text-dark" style="text-decoration: none;" id="Contact" href="/Contacto">CONTACTO</a>
    <a class="p-2 m-2 text-dark" style="text-decoration: none;" id="Signup" href="/signup">ACCESO</a>
  </nav>
</div>
<div style="border-top: solid #0000AA;" class="row">