    <div class="col-lg-10">
        <form action="/signin" method="post">
        <div class="card">
            <div class="card-header">
            <h3>REGISTER</h3>
            </div>
        <div class="card-body">
            <div class="form-group">
            <label for="nickname">Nick</label>
            <input type="text" id="nickname" maxlength="10" name="nickname" class="form-control" required>
            </div>
            <div class="form-group">
        <label for="username">User name</label>
        <input type="text" name="username" class="form-control" id="username" required>
        </div>
        <label for="Email">E-mail</label>
        <input type="email" id="Email" name="Email" class="form-control">
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" required>
        </div>

        <div class="form-group">
                <input type="submit" class=" btn btn-primary form-control" value="Register">
        </div>
        </div>
        
        </div>
        </form>
    </div>